p
{
	display: inline-block;
}

div
{
	width: 30%;
	margin: 0 42%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
{
	-webkit-appearance: none;
}


input[type="number"]
{
	pointer-events: none;
	-moz-appearance: textfield;
}